::-moz-selection {
    background: #0094da;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #0094da;
    color: #fff;
    text-shadow: none;
}

a {
    color: #0094da;
}

a:hover {
    color: #398b5b;
}

footer .nav-list li a:hover,
footer ul.regular li a:hover {
    color: #398b5b;
}

.btn-link:hover {
    color: #398b5b;
}

.btn-color {
    padding: 10px;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-family: inherit;
    background: #0094da;
    *background: #0094da;
}

.btn-color:hover,
.btn-color.active,
.btn-color.disabled,
.btn-color[disabled] {
    background: #3b3838;
    *background: #3b3838;
}


/* portfolio */

ul.filter li.active a {
    background: #0094da;
}

ul.filter li a:hover {
    color: #0094da;
}

.portfolio-area li:hover .desc {
    background: #0094da;
}


/* fontawesome icons */

.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #0094da;
}

[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #0094da;
}


/* header */

.navbar .nav li.active a {
    color: #0094da;
}

.navbar .nav li ul.dropdown-menu li a:hover,
.navbar .nav li.active ul.dropdown-menu li a:hover {
    background: #0094da;
}

.color {
    background: #0094da;
    color: #fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #0094da;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}


/* sequence slider */

.sequence-nav .next:hover,
.sequence-nav .prev:hover {
    background: #0094da;
}


/* breadcrumb */

.breadcrumb {}


/* accordion */

.accordion-heading a:hover {
    color: #0094da;
}

.accordion-heading .active {
    color: #0094da;
}


/* pricing box */

.priceBox.special .emphasis {
    background: #0094da;
}


/* tagline */

.tagline {
    border-bottom: 5px solid #0094da;
}


/* styled list */

ul.list.colored li:before {
    color: #0094da;
}


/* button */

.btn-link {
    color: #0094da;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #0094da;
    border-bottom-color: #0094da;
}


/* tabs */

.tabbable .nav>li>a:hover,
.tabbable .nav>li>a:focus {
    background-color: #0094da;
}

.tabbable .nav-tabs>.active>a,
.tabbable .nav-tabs>.active>a:hover,
.tabbable .nav-tabs>.active>a:focus {
    background-color: #0094da;
}


/* accordion */

.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
    background: #0094da;
}

.accordion-heading .accordion-toggle.active {
    background: #0094da;
}


/* label */

.label-orange,
.badge-orange {
    background-color: #0094da;
}


/* nav */

.nav-list>.active>a,
.nav-list>.active>a:hover {
    background: #0094da;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
    background: #0094da;
}

.nav .dropdown-toggle .caret {
    border-top-color: #0094da;
    border-bottom-color: #0094da;
}


/* custom progress bar according template skin */

.progress-orange .bar,
.progress .bar-orange {
    background: #0094da;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
    background: #0094da;
}


/* pagination */

.pagination ul li a:hover {
    background: #0094da;
    border-color: #0094da;
}


/* widget */

.widget {
    font-size: 16px;
}

aside .widget ul.cat li a:hover {
    color: #0094da;
}

aside .widget ul.recent-posts li a:hover {
    color: #0094da;
}

aside .widget ul.tags li a {
    background: #0094da;
}


/* article */

.entry-body a h5.title:hover {
    color: #0094da;
}

article.blog-post .post-heading h3 a:hover {
    color: #0094da;
}

article.last-post {
    background: #0094da;
}

ul.time-post li.year {
    border-bottom: 1px solid #0094da;
}


/* 404 */

.error-body {
    background: #0094da;
    padding: 20px;
    text-align: center;
}


/* footer */

footer .subfooter {
    border-top: 5px solid #0094da;
}

footer .subfooter p {
    text-align: center;
    margin: 0;
}


/* misc */

a.thumbnail:hover {
    border-color: #0094da;
}

ul.filter li.active a:hover,
.flex-control-nav li a:hover,
.flex-control-nav li a.active {
    background: #0094da;
}

.thumbnail h4 a:hover,
.thumbnail .meta span a:hover,
ul.recent li h6 a:hover,
ul.post-meta li a:hover,
.media-body span,
.media-body .media-heading a:hover,
form label span,
article.last-post h5 a:hover {
    color: #0094da;
    text-decoration: none;
}